[Unit]
Description=Run config-saver compression daily

[Timer]
OnCalendar=*-*-* 03:00:00
Unit=config-saver.service
OnActiveSec=1min
Persistent=true
# Add a small random delay to avoid thundering herd on many machines
RandomizedDelaySec=30m

[Install]
WantedBy=timers.target
